@model ProjectsSoftuni.Services.Models.Projects.ProjectDetailsViewModel

@{
    ViewData["Title"] = "Details";
    bool isRejectedProject = (bool)ViewData["IsRejectedProject"];
    bool applyProjectEnabled = (bool)ViewData["ApplyProjectEnabled"];
    string specificationUrl = (string)ViewData["SpecificationUrl"];
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeployLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeployLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Budget)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a> |
    @if (applyProjectEnabled && !isRejectedProject)
    {
        @Html.ActionLink("Applying For Project", "CreateTeam", "Teams", new { projectId = Model.Id })
    }

    @if (specificationUrl != null)
    {
        <a href="@specificationUrl" target="_blank">Project Specifications</a>
    }

    @if (this.User.IsInRole("Administrator"))
    {
        <a asp-area="Administration" asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
</div>
